<header>
  <h1>{{ site.title }}</h1>
  <p>{{ site.description }}</p>
  <iframe src="https://ghbtns.com/github-btn.html?user=alexcarpenter&repo={{ site.repo }}&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
</header>
