<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ site.title }} - {{ site.description }}</title>
  <meta name="description" content="{{ site.description }}">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans:400,700&display=swap" rel="stylesheet">
  <style>
    {% include "butane-combobox.css" %}
    {% include "site.css" %}
    {% include "prism.css" %}
  </style>
</head>
<body>
  {% include "header.njk" %}
  <main>
    {{ content | safe }}
  </main>
  {% include "footer.njk" %}
  <script>
    {% include "butane-combobox.js" %}
    {% include "site.js" %}
  </script>
</body>
</html>
