:root {
  --font-family-sans-serif: 'IBM Plex Sans', sans-serif;
  --font-family-mono: 'IBM Plex Mono', monospace;
  --color-blue: #05F;
  --color-blue-light: #E6EEFF;
  --color-red: #F30;
  --color-red-light: #FFEBE6;
  --color-yellow: #FC0;
  --color-yellow-light: #FFFAE6;
  --color-green: #57B26A;
  --color-gray-900: #111111;
  --color-gray-500: #767676;
  --color-gray-400: #DDDDDD;
  --color-gray-300: #EFEFEF;
  --color-gray-100: #FAFAFA;
  --border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 40rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 4rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 4rem;
  font-family: var(--font-family-sans-serif);
}

a {
  color: var(--color-blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre,
code {
  font-family: var(--font-family-mono);
  line-height: 1.5;
}

header {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-gray-300);
}

header h1 {
  margin-bottom: .25rem;
}

header p {
  margin-bottom: 1rem;
  color: var(--color-gray-500);
}

footer {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid var(--color-gray-300);
}

main>*+* {
  margin-top: 1rem;
}

main>*+h2 {
  margin-top: 2rem;
}

h2 {
  margin-bottom: 2rem;
  padding-top: 2rem;
  border-top: 1px solid var(--color-gray-300);
}

h2::after {
  content: '\2009\00AC';
  display: inline-block;
  color: var(--color-gray-400);
}

form {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
}

label:first-of-type {
  grid-column: span 2;
}

label {
  display: block;
}

input {
  display: block;
  width: 100%;
  margin-top: .5rem;
  padding: .75rem;
  border: 1px solid var(--color-gray-300);
  background-color: var(--color-gray-100);
  border-radius: var(--border-radius);
  font-size: inherit;
}

input+small {
  display: block;
  margin-top: .25rem;
  color: var(--color-gray-500);
}

select {
  display: block;
  width: 100%;
  margin-top: .5rem;
  padding: .75rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font: inherit;
  border: 1px solid #EFEFEF;
  background-color: #FAFAFA;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNy40MSA4LjU5TDEyIDEzLjE3bDQuNTktNC41OEwxOCAxMGwtNiA2LTYtNiAxLjQxLTEuNDF6Ii8+PHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgyNHYyNEgwVjB6Ii8+PC9zdmc+');
  background-size: 20px;
  background-position: right .75rem top 50%, 0 0;
  background-repeat: no-repeat;
  border-radius: 4px;
}

select::-ms-expand {
  display: none;
}

button {
  display: inline-flex;
  padding: .75rem;
  font: inherit;
  background-color: #05f;
  border-radius: 4px;
  border: 0;
  color: #fff;
}

/* Combobox styling */
[data-butane-combobox] {
  position: relative;
}

[data-butane-combobox-list] {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  max-height: 352px;
  overflow-y: scroll;
  background-color: #fff;
  border: 1px solid var(--color-gray-300);
}

[data-butane-combobox-option] {
  padding: .75rem;
  cursor: pointer;
  outline: none;
}

[data-butane-combobox-option]:not(:last-of-type) {
  border-bottom: 1px solid var(--color-gray-300);
}

[data-butane-combobox-option]:hover,
[data-butane-combobox-option]:focus {
  background-color: var(--color-blue);
  color: #fff;
}

[data-butane-combobox-list] li:not([data-butane-combobox-option]) {
  padding: .75rem;
  text-align: center;
}
